{% extends 'layout.html' %}

{% block body %}
    <h2>{{ game.created_at.strftime('%D') }} {{ game.player.first_name }} {{ game.player.last_name}}</h2>
    {% from "includes/_formhelpers.html" import render_field %}

    <form method="POST" action="">
        {% for field in form %}
            <div class="form-group">
                {% if field.type == "BooleanField" %}
                    <div class="col-3" style="display: flex; justify-content: space-between;">
                        {{ render_field(field, class_="form-control") }}
                    </div>
                {% else %}
                    <div class="col-4">
                        {{ render_field(field, class_="form-control") }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
{% endblock %}